@media (max-width: 768px) {
  .section {
    width: 100%;
  }
}
html {
  scroll-behavior: smooth; 
}
	* {
    box-sizing: border-box;
  }
	body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
  color: rgb(19, 18, 18);
}
h1,h2{
	font-size: 28px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #5d7c61;
}
a{
	text-decoration: none;
}
span{
	color:white;
}
.section a{
	color: rgb(204, 163, 241);
}
.container {
    max-width: 1440px;
    margin: 0 auto;
  }
.nav{
		background-color: rgb(99, 61, 61);
	}
	.nav-list{
  display: flex;
  justify-content: space-between;
  align-items: center;
	list-style: none;
}
.nav-link{
	padding: 0 20px;
	line-height: 50px;
	text-decoration: none;
	cursor: pointer;
	color: white; 
  transition: color .3s;
}
.nav-link:hover {
  color: #4d2323;
}
.main-container {
  display: flex;
  justify-content: space-between;
	flex-wrap: wrap;
}
.section {
  width: 50%;
}
.footer{
	height: 70px;
	margin-top: 30px;
	display: flex;
  align-items: center;
	list-style: none;
	background-color: rgb(99, 61, 61);
	color: white;
}
.footer a {
	color: white;
}
